body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgba(255, 168, 134, 0.549);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.whoops{
    font-size: 250px;
    font-weight: bold;
    background-image: url("../img/search_bg.jpg");
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 130px;
    margin-bottom: 10px;
}
.sent1{
    font-size: 30px;
    margin-bottom: 10px;
    color :rgb(255, 151, 24);
}
.sent2{
    font-size: 32px;
    color: rgb(255, 162, 49);
}
.air-logo{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}
.parent_btn{
    justify-content: center;
    display: flex;
}
.btn {
  display: flex;
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(255, 180, 88);
  color: whitesmoke;
  border-radius: 12px;
  text-decoration: none;
  font-size: 16px;
  max-width: 200px;
  justify-content: center;
  margin-top: 10px;
}
.title{
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 60px;
    color: rgba(255, 156, 36, 0.819);
    font-family: 'Lexend', sans-serif;
}