<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/city_error.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=globe_location_pin" />
</head>
<body>
    <h1 class="whoops"><center>WHOOPS! :(</center></h1>
    <h1 class="sent1"><center> {{city | capitalize }} is a country not a city </center></h1><br><br><br><br>
    <div class="parent_btn">
        <h3><a href="{{ url_for('search') }}" class="btn">Try Another City ?</a></h3>
    </div>
    <form>
        <div class='air-logo'>
            <a href="https://www.weatherapi.com/" title="Free Weather API"><img src='//cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com" border="0">
            </a>
        </div>
    </form>
</body>
</html>
